<p>All events will be held on Zoom from 4–6 p.m.  (We target 90 minutes of teaching and reserve some time for questions and exercises.)</p>

<div class="row">
  <div class="col-md-6">
    <h3>Command Line (Bash)</h3>
    <table class="table table-striped">
      <tr> <td>Mon 11/9</td>  <td>Automating Tasks with the Unix Shell, Part 1</td> </tr>
      <tr> <td>Tue 11/10</td>  <td>Automating Tasks with the Unix Shell, Part 2</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Git and GitHub</h3>
    <table class="table table-striped">
      <tr> <td>Wed 11/11</td>  <td>Version Control with Git, Part 1</td> </tr>
      <tr> <td>Thu 11/12</td>  <td>Version Control with Git, Part 2</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Python</h3>
    <table class="table table-striped">
      <tr> <td>Mon 11/16</td>  <td>Programming with Python, Part 1</td> </tr>
      <tr> <td>Tue 11/17</td>  <td>Programming with Python, Part 2</td> </tr>
      <tr> <td>Wed 11/18</td>  <td>Programming with Python, Part 3</td> </tr>
      <tr> <td>Thu 11/19</td>  <td>Programming with Python, Part 4</td> </tr>
    </table>
  </div>
</div>
